<p>Thank you for registering at Envstate</p>
<p>Please complete your registration by clicking the link below</p>
<a href="{{ frontendScheme }}://{{ frontendDomain }}/confirm/{{ actionToken.token }}">Confirm email</a>